rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /organizations/{orgId}/{userId}/{fileName} {
      allow write: if request.auth != null && request.auth.uid == userId;
      allow read: if request.auth != null && (
        (request.auth.token.roles[orgId] in ['org_owner','org_admin','admin','manager']) ||
        request.auth.uid == userId
      );
    }
  }
}
